<div class="container">
	<div class="row">
		<div class="col">
			<div class="card text-left">
				<div class="card-body">
					<h5 class="card-title">Privacy Policy</h5>
					<p class="card-text">
						This Privacy Policy describes the policies and procedures of Be Active Football Academy Ltd. (“we,” “our,” or “us”) pertaining to the collection, use, and disclosure of your information on www.trustwallet.com and related mobile applications and products we offer (the “Services” or “Be Active Football Academy”)
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<div class="card text-left">
				<div class="card-body">
					<h5 class="card-title">Overview</h5>
					<p class="card-text">
						Your privacy is important to us. At Be Active Football Academy Ltd, we follow a few fundamental principles: We don’t ask you for personally identifiable information (defined below).
						<br />That being said, your contact information, such as your phone number, social media handle, or email address (depending on how you contact us), may be collected when you communicate with us or if you report a bug or other error related to Be Active Football Academy.
						<br />We don’t share your information with third parties except to deliver you our Services and products, comply with the law, make Be Active Football Academy better, protect our rights, or effectuate a business transfer.
						<br />We’re not a huge, faceless corporation. We’re just developers trying to deliver an incredible product.
						<br />If you have any questions or concerns about this policy, please reach out to us at <a href="mailto:contact@beactivefootballacademy.com">here</a>.
						<br />HOW YOU ACCEPT THIS POLICY By using Active Football Academy, including downloading one of our mobile applications, visiting our website, you agree to the use, disclosure, and procedures outlined in this Privacy Policy.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<div class="card text-left">
				<div class="card-body">
					<h5 class="card-title">What personal information we collect from users</h5>
					<p class="card-text">
						The information we collect from you falls into two categories: (i) personally identifiable information (i.e., data that could potentially identify you as an individual) (“Personal Information”), and (ii) non-personally identifiable information (i.e., information that cannot be used to identify who you are) (“Non-Personal Information”).
						<br /> This Privacy Policy covers both categories and will tell you how we might collect and use each type. We do our best not to collect any Personal Information from Be Active Football Academy users. That being said, when using our Services, we do collect Public Wallet addresses that you generate through Be Active Football Academy.
						<br />Further, we may collect some Personal Information from you when you communicate with us, including your contact information, such as your phone number, social media handle, or email address (depending on how you reach out). Like other online services, we also collect a variety of Non-Personal Information, including: Information you create through the Be Active Football Academy’s website or mobile applications, including public wallet addresses.
						<br />Various analytics data, such as: (i) the IP address of the computer you use to access Be Active Football Academy; (ii) the type of browser software you are using; (iii) the operating system you are using; (iv) the date and time you access or use Be Active Football Academy; (v) the website address, if any, that linked you to Be Active Football Academy; (vi) the website address, if any, you leave our website and travel to; and (vii) other non-personally identifiable traffic data.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<div class="card text-left">
				<div class="card-body">
					<h5 class="card-title">How we collect information</h5>
					<p class="card-text">
						When You Contact Us. We may collect certain information if you choose to contact us, if you use our Services or if you report a bug or other error with Be Active Football Academy.
						<br />This may include contact information such as your name, email address, phone number, and public wallet address.
						<br />We, or companies that provide services on our behalf, may also collect certain Non-Personal Information from you, such as your locally hosted public wallet (a “Wallet”) addresses.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<div class="card text-left">
				<div class="card-body">
					<h5 class="card-title">Information we automatically collect</h5>
					<p class="card-text">
						Users who visit our website or use our application may have their device’s IP address logged for the purpose of generating anonymous statistics or troubleshooting the performance of our web servers.
						<br />Your IP address will not be used to track or identify you, but may be used to determine your geographic location in order to determine which of our services you are presented with.
						<br />Users of our website or mobile applications will receive an anonymous unique device id (“UDID”) for the purpose of identifying the device to Be Active Football Academy servers.
						<br />This UDID will not be tied to users’ identities, but will be used for debugging purposes and to differentiate devices when users access our Services using multiple devices.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<div class="card text-left">
				<div class="card-body">
					<h5 class="card-title">Third party services</h5>
					<p class="card-text">
						Certain features on Be Active Football Academy rely on various third-party products and services (collectively “Third Party Services”), such as the Ethereum network, Google Analytics, Apple’s application platform, Coinbase, Changelly, Fabric, and Shapeshift.
						<br />These services may collect certain Personal Information, such as your public Wallet addresses. Be Active Football Academy uses Google Analytics, a web analytics service provided by Google, Inc. (“Google”).
						<br />Google uses cookies to help the website analyze how users use our website. The information generated by the cookie about your use of our website (including your IP address) will be transmitted to and stored by Google on servers in the United States.
						<br />Google will use this information for the purpose of evaluating your use of the website, compiling reports on website activity for website operators and providing other services relating to website activity and internet usage.
						<br />Google may also transfer this information to third parties where required to do so by law, or where such third parties process the information on Google’s behalf. Google will not associate your IP address with any other data held by Google.
						<br />You may choose to accept the cookies by selecting the appropriate settings on your browser if you do this you may not be able to use the full functionality of our website. By using our website, you consent to the processing of data about you by Google in the manner and for the purposes set out above.
						<br />Please note that your use of these Third-Party Services is governed by their respective Terms of Service and Privacy Policies.
						<br />We use and disclose any collected information in accordance with our own Privacy Policy.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<div class="card text-left">
				<div class="card-body">
					<h5 class="card-title">How we use the information we gather</h5>
					<p class="card-text">
						We primarily use the limited information we collect to enhance Be Active Football Academy.
						<br />Except if we sell all or a portion of our business, or as otherwise described below, we do not rent, trade, or sell your Personal Information.
						<br />Use of Information to Provide Be Active Football Academy to You Some ways we may use your Personal Information are to:
						<br />Contact you when necessary;
						<br />Respond to your comments, questions, or issues related to bugs or errors with Be Active Football Academy;
						<br />Provide you with additional information;
						<br />Send you information and marketing materials about services and products available through Be Active Football Academy, using push notifications or other means;
						<br />Train our team members; or Other internal business purposes.
						<br />Aggregated Personal Data and Non-Personal Information We may share or disclose aggregated Personal Data or Non-Personal Information with service providers or with other persons we conduct business with, including but not limited potential third-parties for the purpose of showcasing the performance of the company.
						<br />These service providers and other persons may also share with us aggregated Non-Personal Information that they have independently developed or acquired.
						<br />Additionally, we may combine aggregate information from the pixel tags, web beacons, and cookies with similar data we collect from other visitors to help us improve our Services.
						<br />When doing so, we do our best to ensure that the any aggregated information cannot be linked back to you.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<div class="card text-left">
				<div class="card-body">
					<h5 class="card-title">Agents or Third-Party partners</h5>
					<p class="card-text">
						We may provide your Personal Information to our employees, contractors, agents, service providers, and designees (“Agents”) to enable them to perform certain services for us exclusively, including:
						<br />Improvement of website-related services and features; and Perform maintenance services.
						<br />Business Transfers We may choose to buy or sell assets. In these types of transactions, customer information is typically one of the business assets that would be transferred.
						<br />Also, if we (or our assets) are acquired, or if we go out of business, enter bankruptcy, or go through some other change of control, your Personal Information could be one of the assets transferred to or acquired by a third party.
						<br />By accepting this Privacy Policy, as outlined above, you consent to any such transfer.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<div class="card text-left">
				<div class="card-body">
					<h5 class="card-title">Our and other's protection</h5>
					<p class="card-text">
						We reserve the right to access, read, preserve, and disclose any information that we reasonably believe is necessary to: comply with the law or a court order; cooperate with law enforcement; enforce or apply our Terms of Use and other agreements; or protect the rights, property, or safety of Be Active Football Academy, our employees, our users, or others.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<div class="card text-left">
				<div class="card-body">
					<h5 class="card-title">What personal information can I access or change</h5>
					<p class="card-text">
						You can request access to the information we have collected from you.
						<br />You can do this by contacting us at <a href="mailto:contact@beactivefootballacademy.com">here</a>.
						<br />We will make sure to provide you with a copy of the data we process about you.
						<br />To comply with your request, we may ask you to verify your identity. We will fulfill your request by sending your copy electronically.
						<br />For any subsequent access request, we may charge you with an administrative fee.
						<br />If you believe that the information we have collected is incorrect, you are welcome to contact us so we can update it and keep your data accurate.
						<br />Any data that is no longer needed for purposes specified in the “How We Use the Information We Gather” section will be deleted after ninety (90) days.
						<br />Wallet addresses created through the Be Active Football Academy application cannot be deleted from the Ethereum blockchain, therefore we are unable to delete this personal information.
						<br />If at any point you wish for Be Active Football Academy to delete information about you, you may contact us at <a href="mailto:contact@beactivefootballacademy.com">here</a>.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<div class="card text-left">
				<div class="card-body">
					<h5 class="card-title">Data retention</h5>
					<p class="card-text">
						If you delete your Wallet or addresses from the Be Active Football Academy Android mobile application, uninstall Be Active Football Academy mobile applications from your device, or request that your information be deleted, we still may retain some information that you have provided to us to maintain Be Active Football Academy or to comply with relevant laws.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<div class="card text-left">
				<div class="card-body">
					<h5 class="card-title">Data security</h5>
					<p class="card-text">
						We are committed to making sure your information is protected and have selected third-party vendors which use the Ethereum network, including Coinbase, Shapeshift, and Changelly, that help keep your Personal Information safe.
						<br />Unfortunately, we do not control these third parties and therefore cannot guarantee complete security. We employ several physical and electronic safeguards to keep your information safe, including encrypted user passwords, two factor verification and authentication on passwords where possible, and securing all connections with industry standard transport layer security.
						<br />Even with all these precautions, we cannot fully guarantee against the access, disclosure, alteration, or deletion of data through events, including but not limited to hardware or software failure or unauthorized use.
						<br />Any information that you provide to us is done so entirely at your own risk.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<div class="card text-left">
				<div class="card-body">
					<h5 class="card-title">Children</h5>
					<p class="card-text">
						We are especially sensitive about children’s information.
						Our Services are not targeted towards children, and we don’t knowingly collect information from children under the age of 13.
						If you are a parent or legal guardian of a minor child, we will treat any information that you provide us while using Be Active Football Academy on behalf of your minor child as Personal Information as otherwise provided in this Privacy Policy.
						If you have questions concerning our information practices with respect to children, or if you learn that a child under the age of 13 has used Be Active Football Academy, created a user account, or provided us with personal information, please email us at <a href="mailto:contact@beactivefootballacademy.com">here</a>.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<div class="card text-left">
				<div class="card-body">
					<h5 class="card-title">Online tracking and how to respond to "Do not track signals"</h5>
					<p class="card-text">
						Online tracking is the collection of data about an individual’s Internet activity used to deliver targeted advertisements and for other purposes.
						<br />Some web browsers (including Safari, Internet Explorer, Firefox, and Chrome) incorporate a “Do Not Track” (DNT) or similar feature that signals to websites that a visitor does not want to have his/her online activity and behavior tracked.
						<br />If an online service elects to respond to a particular DNT signal, the service may refrain from collecting certain personal information about the browser’s user.
						<br />Not all browsers offer a DNT option and there is currently no industry consensus as to what constitutes a DNT signal.
						<br />For these reasons, many website operators, including Be Active Football Academy, do not take action to respond to DNT signals.
						<br />For more information about DNT signals, visit <a href="http://allaboutdnt.com">allaboutdnt</a>.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<div class="card text-left">
				<div class="card-body">
					<h5 class="card-title">Changes and updates to privacy policy</h5>
					<p class="card-text">
						We reserve the right to update and revise this privacy policy at any time. We occasionally review this Privacy Policy to make sure it complies with applicable laws and conforms to changes in our business.
						<br />We may need to update this Privacy Policy, and we reserve the right to do so at any time.
						<br />If we do revise this Privacy Policy, we will update the “Effective Date” at the bottom of this page so that you can tell if it has changed since your last visit and will do our best to notify you.
						<br />Please review this Privacy Policy regularly to ensure that you are aware of its terms.
						<br />Any use of Be Active Football Academy after an amendment to our Privacy Policy constitutes your acceptance to the revised or amended agreement.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<div class="card text-left">
				<div class="card-body">
					<h5 class="card-title">Internation users and visitors</h5>
					<p class="card-text">
						Be Active Football Academy is hosted in the United States. If you are a user accessing the Services from the European Union, Asia, or any other region with laws or regulations governing personal data collection, use, and disclosure that differ from United States laws, please be advised that through your continued use of the Services, which is governed by US law, you are transferring your Personal Information to the United States and you consent to that transfer.
					</p>
				</div>
			</div>
		</div>
	</div>

</div>