@{
    ViewData["Title"] = "Home Page";
}

<div class="container container-main">
	<div>
		<div class="tag d-none d-lg-block">
			<div class="card text-center">
				<div class="card-body">
					<h6 class="card-title blue">WELCOME</h6>
					<h1 class="card-text bold">Be Active</h1>
					<h1 class="card-text bold">Football</h1>
					<h1 class="card-text bold">Academy</h1>
					
					<a href="@Url.Action("Index", "ContactUs")" class="nav-link px-md-0 px-2">
						<i class="fs-5 bi-people"></i><span class="ms-1 d-none d-md-inline">Contact us</span>
					</a>
				</div>
			</div>

		</div>
		<img src="~/images/main.jpeg" class="card-img-top" alt="...">
	</div>

	<div class="tag-block d-block d-lg-none">
		<div class="card text-center">
			<div class="card-body">
				<h6 class="card-title blue-margin">WELCOME</h6>
				<h1 class="card-text bold">Be Active</h1>
				<h1 class="card-text bold">Football</h1>
				<h1 class="card-text bold">Academy</h1>
				<a href="@Url.Action("Index", "ContactUs")" class="nav-link px-md-0 px-2">
					<i class="fs-5 bi-people"></i><span class="ms-1 d-none d-md-inline">Contact us</span>
				</a>
			</div>
		</div>

	</div>

</div>

<div class="container">
	<div class="row">
		<div class="col">
			<div class="card text-left">
				<div class="card-body">
					<h5 class="card-title">Welcome</h5>
					<p class="card-text">
						Welcome to Be Active Football Academy, Peterborough's leading football training provider, passionately established in March 2022 by the football enthusiasts.
						<br />Our mission is to give football opportunities for children of all skills levels, regardless of ethnicity or gender, creating an inclusive community where every child can grow on and off the pitch.
					</p>

					<p class="card-text">
						In the 2023/2024 season, we proudly entered the league with our U11 team, marking a significant milestone in our academy's history.
						<br />This season is a testament to our dedication to nurturing young talent and providing a platform for them to showcase their skills.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm">
			<div class="card text-left">
				<div class="card-body">
					<h5 class="card-title">Come and join us!</h5>
					<p class="card-text">
						As we continue to grow our community, inspire young talents, and shape the future of football.
						<br />Be Active Football Academy is more than just a training provider - it's a vibrant community where passion, diversity, and excellence come together to create a footballing experience like no other.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
