@{
    ViewData["Title"] = "Home Page";
}

<div class="banner">
	<div class="inner-home">
	</div>
</div>

<div class="container container-main">
	<div class="row">
		<div class="col-12 col-lg-5 m-2">
			<h3 style="color: cornflowerblue;">
				Hello!!!
			</h3>
			<h5>Be Active Football Academy</h5>

			<div>
				<h5>Welcome</h5>
				<p>
					Welcome to Be Active Football Academy, Peterborough's leading football training provider, passionately established in March 2022 by the football enthusiasts.
					<br />Our mission is to give football opportunities for children of all skills levels, regardless of ethnicity or gender, creating an inclusive community where every child can grow on and off the pitch.
				</p>

				<p>
					In the 2023/2024 season, we proudly entered the league with our U11 team, marking a significant milestone in our academy's history.
					<br />This season is a testament to our dedication to nurturing young talent and providing a platform for them to showcase their skills.
				</p>
			</div>


		</div>
		<div class="col-12 col-lg-5 m-2">
			<h3 style="color: cornflowerblue;">Join us!!!</h3>
			<h5>Be Active Football Academy</h5>

			<div>
				<h5>Join us!</h5>
				<p>
					As we continue to grow our community, inspire young talents, and shape the future of football.
					<br />Be Active Football Academy is more than just a training provider - it's a vibrant community where passion, diversity, and excellence come together to create a footballing experience like no other.
				</p>
			</div>

		</div>

		<div class="col-12 m-2">
			<h3 style="color: cornflowerblue;">Not sure?</h3>
			<h5>Be Active Football Academy</h5>

			<div>
				<h5>Ask us!</h5>
				<p>
					if you not sure or you have got any questions - feel free to ask one of our team member.
					<br />
					Please send us a message - we will be happy help you!
					<a href="@Url.Action("Index", "ContactUs")" class="nav-link px-md-0 px-2" style="font-size:large">
						<i class="fs-5 bi-people"></i><span class="ms-1 d-md-inline">Contact us</span>
					</a>
				</p>
			</div>

		</div>
	</div>
</div>