<div class="container">
	<div class="row">
		<div class="col-sm">
			<div class="card text-left" style="width: 18rem;">
				<img class="card-img-top rounded" src="~/images/david.jpeg" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Dawid Jedrychowski</h5>
					<p class="card-text">
						Chairman/President/Manager.
						<br />Something about you.
					</p>
				</div>
			</div>
		</div>
		<div class="col-sm">
			<div class="card text-left" style="width: 18rem;">
				<img class="card-img-top" src="~/images/lukasz.jpeg" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Lukasz Stachowiak</h5>
					<p class="card-text">
						Secretary/Coach
						<br />Something about you.
					</p>
				</div>
			</div>
		</div>
		
		<div class="col-sm">
			<div class="card text-left" style="width: 18rem;">
				<img class="card-img-top" src="~/images/alex.jpeg" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Alex Leo</h5>
					<p class="card-text">
						Software Engineer / Wizard
						<br />I am just this awesome!!!!
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
