
<div class="container">
	<div class="row">
		<div class="col">
			<div class="card text-left">
				<div class="card-body">
					<h5 class="card-title">Power of collaboration</h5>
					<p class="card-text">
						In September 2023, we initiated a partnership with Peterborough Polish School, a meaningful alliance that will see us preparing teams to participate in the prestigious Laxton Hall Festival's tournament.
						<br />This collaboration not only enhances our academy's reach but also promotes cultural diversity within our football family.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col d-flex justify-content-center">
			<img src="~/images/about-us.jpeg" class="card-img-top" alt="..." style="width:45%">
		</div>
	</div>

	<div class="row">
		<div class="col-sm">
			<div class="card text-left">
				<div class="card-body">
					<h5 class="card-title">Our commitment</h5>
					<p class="card-text">
						Our commitment to excellence is reflected in our choice of top-notch facilities. Be Active Football Academy is proud to utilize premier venues such as the Nene Valley Community Centre, Vivacity's facilities, and Peterborough United's esteemed training ground.
						<br />This training ground, frequented by Peterborough United's first team, women's team, and academic players, provides an inspirational setting for our aspiring football stars.
					</p>
				</div>
			</div>
		</div>
		<div class="col-sm">
			<div class="card text-left">
				<div class="card-body">
					<h5 class="card-title">What we strive for</h5>
					<p class="card-text">
						In our pursuit of excellence, we employ cutting-edge technologies to enhance our training programs. Technologies such as Veo camera, STATSports, ball launchers, and the Heja app empower our coaches and players, ensuring a progressive and dynamic learning environment.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col d-flex justify-content-center">
			<img src="~/images/about-us-opportunities.jpeg" class="card-img-top m-2" alt="..." style="width:75%">
		</div>
	</div>

	<div class="row">
		<div class="col-sm">
			<div class="card text-left">
				<div class="card-body">
					<h5 class="card-title">Equal opportunities</h5>
					<p class="card-text">
						At Be Active Football Academy, we believe in quality training.
						<br />Each group within our academy enjoys a substantial three hours of football per week.
						<br />This ensures that our players receive the attention and practice needed to hone their skills, fostering a deep love and understanding of the beautiful game.
					</p>
				</div>
			</div>
		</div>
	</div>

</div>