<div class="banner">
	<div class="inner-about">
	</div>
</div>

<div class="container container-main">
	<div class="row">
		<div class="col-12 col-lg-5 m-2">
			<h3 style="color: cornflowerblue;">
				Let's collaborate
			</h3>
			<h5>Be Active Football Academy</h5>

			<div>
				<h5>Power of collaboration</h5>
				<p>
					In September 2023, we initiated a partnership with Peterborough Polish School, a meaningful alliance that will see us preparing teams to participate in the prestigious Laxton Hall Festival's tournament.
					<br />This collaboration not only enhances our academy's reach but also promotes cultural diversity within our football family.
				</p>
			</div>


		</div>
		<div class="col-12 col-lg-5 m-2">
			<h3 style="color: cornflowerblue;">Our commitment</h3>
			<h5>Be Active Football Academy</h5>

			<div>
				<h5>What we stand for</h5>
				<p>
					Our commitment to excellence is reflected in our choice of top-notch facilities. Be Active Football Academy is proud to utilize premier venues such as the Nene Valley Community Centre, Vivacity's facilities, and Peterborough United's esteemed training ground.
					<br />This training ground, frequented by Peterborough United's first team, women's team, and academic players, provides an inspirational setting for our aspiring football stars.
				</p>
			</div>

		</div>

		<div class="col-12 m-2">
			<h3 style="color: cornflowerblue;">What we strive for</h3>
			<h5>Be Active Football Academy</h5>

			<div>
				<h5>Our goal</h5>
				<p>
					In our pursuit of excellence, we employ cutting-edge technologies to enhance our training programs. Technologies such as Veo camera, STATSports, ball launchers, and the Heja app empower our coaches and players, ensuring a progressive and dynamic learning environment.
				</p>
			</div>

		</div>
	</div>
</div>